h1{

}

.titleMe {

    text-align: center;
   
  font-size: 65px;
}

body {

    background-image: url("../assets/background2.jpeg");
    background-position: center top;
    background-size: cover;
  
}

.center {
  display: inline;
  margin: auto;
  padding: 5px;
  


}

.centerNow {

  display: inline;
  margin: auto;
  padding: 5px;
}

#container {

  text-align: center;
}
